@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col bg-[#f5f6fa]  pb-10 pt-10 max-md:pb-32 sm:px-3;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto  bg-[#f5f6fa] pb-5 pt-10 pl-8 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .rightsidebar {
    @apply sticky right-0 bg-[#f5f6fa] top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto  px-5 pb-3 pt-3 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .email-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .emailscrollbar::-webkit-scrollbar-track {
    background: #6f6af8;
  }

  .email-scrollbar::-webkit-scrollbar-thumb {
    background: #7391d6;
    border-radius: 50px;
  }

  .email-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6f6af8;
  }
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}
